@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Permanent+Marker&family=Shizuru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* 
font-family: 'Lobster', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Shizuru', cursive; 
font-family: 'Ubuntu', sans-serif;


#FFDB00 AMARILLO 
#00FF0A VERDE 
#FF1616 ROJO 
#00F9CB AZUL 
*/

:root {
  --manu-color: #263646;
  --text-color: #0f8d01;
}

.dark-theme {
  --menu-color: ;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
}

/* MENU */
.nav-bar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  transition: all 0.3s ease;
}

.nav-bar.sticky {
  padding: 15px 0px;
  background: var(--manu-color);
}
.nav-bar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.logo a {
  color: #fff;
  font-weight: 900;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
}

.nav-bar .menu li {
  list-style: none;
  display: inline-block;
}

.nav-bar .menu li a {
  color: #fff;
  font-size: 18px;
  margin-left: 25px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-bar .menu li a:hover {
  color: var(--text-color);
}

.menu-btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

/* #Scroll btn*/

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #ffdb00;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
/* #Home */
.home {
  display: flex;
  background: url("../img/banner.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  min-height: 500px;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  text-transform: none;
  font-size: 22px;
  font-weight: 600;
}

.home .home-content .text-2 {
  font-size: 90px;
  font-family: "Permanent Marker", cursive;
  font-weight: 500;
  margin-left: 10px;
}

.home .home-content .text-3 {
  font-size: 25px;
  margin: 5px 0;
  font-weight: 600;
  text-transform: none;
}

.home .home-content .text-3 span {
  color: #ffdb00;
}

/* sections */
section {
  padding: 80px 0;
}

section .title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  position: relative;
  font-size: 40px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

/* About*/

.about,
.community {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.about .about-content,
.community .community-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 250px;
  width: 400px;
  object-fit: contain;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

.about .about-content .right .text span {
  color: #fff;
  background: #111;
  border-radius: 5px;
  padding: 0 5px;
}

.about .about-content .right p {
  text-align: justify;
}

/* Community*/

.community .title {
  color: #000;
}

.community .title::before {
  background: #000;
}

.community .community-content .card {
  width: calc(33% - 22px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  color: #fff;
  padding: 20px 25px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.community .community-content .card:hover {
  background: #2980b9;
}

.community .community-content .card .box {
  transition: all 0.3s ease;
}

.community .community-content .card .box:hover {
  transform: scale(1.05);
}

.community .community-content .card .box p {
  font-size: 15px;
}
.community .community-content .card i {
  font-size: 50px;
  color: #2980b9;
  transition: color 0.3 ease;
}

.community .community-content .card:hover i {
  color: #fff;
}

.community .community-content .card .text {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0 7px 0;
}

/* #managers */

.team {
  background: #263646;
  color: #fff;
}

.team .title::before {
  background: #fff;
}
.team .carousel .card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}

.team .carousel .card:hover {
  background: #0f8d01;
}

.team .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
}

.team .carousel .card:hover .box {
  transform: scale(1.05);
}

.team .carousel .card .box p {
  color: #fff;
}

.team .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 7px 0;
}

.team .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  border-radius: 50%;
  border: solid 5px #13cd00;
}

.team .carousel .card:hover img {
  border-color: #111;
}

.team .owl-dot {
  border: 2px solid #13cd00 !important;
}

/* #similar code */

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
}

.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #13cd00 !important;
}

/* #competitive team */

.competitive {
  background: #263646;
  color: #fff;
}

.competitive .title::before {
  background: #fff;
}

.competitive .carousel .card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  transition: all 0.3s ease;
}

.competitive .carousel .card:hover {
  background: #009e81;
}

.competitive .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s ease;
}

.competitive .carousel .card:hover .box {
  transform: scale(1.05);
}

.competitive .carousel .card .box p {
  color: #fff;
}

.competitive .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 7px 0;
}

.competitive .carousel .card img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 5px #00f9cb;
}

.competitive .carousel .card:hover img {
  border-color: #111;
}

.competitive .owl-dot {
  border: 2px solid #00f9cb !important;
}

.competitive .owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.competitive .owl-dot.active,
.competitive .owl-dot:hover {
  background: #00f9cb !important;
}

/* #Contect */
.contact .contact-content .column {
  width: calc(50% - 30px);
  margin: 0 10px;
}

.contact .contact-content .column p {
  text-transform: none;
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .left .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: #1ae004;
}

.contact .contact-content .info .head {
  font-weight: 600;
}

.contact .contact-content .info .sub-title {
  color: #111;
}

.contact .contact-content .right {
  align-items: center;
  text-align: center;
}

.contact .contact-content .right i {
  font-size: 35px;
  padding: 10px 20px;
}

.contact .contact-content .right #face {
  color: #3b5998;
}
.contact .contact-content .right #insta {
  color: #cd486b;
}
.contact .contact-content .right #twit {
  color: #1da1f2;
}

.contact .contact-content .right i:hover {
  transform: scale(1.05);
}

/* #Footer */

footer {
  background: #111;
  color: #fff;
  padding: 20px 23px;
  text-align: center;
}

footer #name {
  color: #1ae004;
}

footer span a {
  text-decoration: none;
  color: #fff;
}

footer span i {
  font-size: 20px;
  padding: 0 5px;
}

footer span i:hover {
  color: #13cd00;
  transform: scale(1.05);
}

/* Responsive media query*/
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 951px) {
  .menu-btn i.active::before {
    content: "x";
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .nav-bar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .nav-bar .menu.active {
    left: 0;
  }

  .nav-bar .menu li {
    display: block;
  }

  .nav-bar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .home .home-content .text-2 {
    font-size: 80px;
  }

  .home .home-content .text-3 {
    font-size: 20px;
  }
  .max-width {
    max-width: 800px;
  }

  .about .about-content .column {
    width: 50%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .community .community-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 18px;
  }

  .community .community-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 13px;
  }
}
